<div class="small-4 columns">

    <div class="topspace">
    <h4>Coming Soon</h4>      
    <img src="/images/DownloadOnAppStore.png" alt="Download on App Store" width="160px">
    </div>

    <div class="topspace">
    <img src="/images/HeartRateTouch440.png" width="220px" alt="Picture of iPhones running Heart Rate Touch" />
    </div>

</div>