<div class="small-4 columns">

    <div class="topspace">    
    <a href="https://itunes.apple.com/jp/app/heart-rate-touch/id945121083"><img src="/images/DownloadOnAppStore.png" alt="App Storeからダウンロード" width="160px"></a>
    </div>

    <div class="topspace">
    <img src="/images/three440_jp.png" width="220px" alt="タッチ de 心拍数の写真" />
    </div>

</div>