<div class="small-4 columns">

    <div class="topspace">
    <h4>近日公開</h4>      
    <img src="/images/DownloadOnAppStore.png" alt="App Storeからダウンロード" width="160px">
    </div>

    <div class="topspace">
    <img src="/images/HeartRateTouch440_jp.png" width="220px" alt="タッチ de 心拍数の写真" />
    </div>

</div>