<div class="small-4 columns">

    <div class="topspace">     
    <a href="https://itunes.apple.com/us/app/heart-rate-touch/id945121083"><img src="/images/DownloadOnAppStore.png" alt="Download on App Store" width="160px"></a>
    </div>

    <div class="topspace">
    <img src="/images/three440.png" width="220px" alt="Picture of iPhones running Heart Rate Touch" />
    </div>

</div>