---
title: 「タッチ de 心拍数」について
layout: layout_jp
---

<div class="row">
  <div class="small-8 columns">

<h1>「タッチ de 心拍数」について</h1>

<p>
フィットネスを追求するために役立つツールの一つは心拍数です。「タッチ de 心拍数」はあなたのプライバシーを守りながらシンプルに、かつ、正確に心拍数を測定します。ログイン、他の隠れた仕掛けはいっさいありません。操作が簡単で、しかも低価格で提供しています。このアプリは、すべてアップル社の新しいプログラミング言語、Swiftで書かれており、最先端の技術を採用しています：
</p>

<p>
<ul>
<li><b>操作が簡単：</b>指先でカメラを軽くおさえます。　光源（フラッシュ）、センサー（カメラ）から出る光が指先の毛細血管に当たることで、その"赤い部分"から周波数（1分間当たりの心拍数 [ BPM ]）を読み取り、血液の流れを画像で取り込みます。</li>
<li><b>高度なアルゴリズム：</b>「タッチ de 心拍数」は正確な測定をおこなうために洗練された方法を使用しています。１BPM の範囲で正確に測れることが実証されています。</li>
<li><b>プライバシーポリシー：</b>お客様の測定データは、どのサーバーにも転送されません。そのため、Pelfunc社は個人情報をいっさい収集管理しておりません。但し、ご自分のデータをアプルのヘルスケア、メール、ほかのアプリに、自由にエクスポートできます。</li>
</ul>
</p>

</div>

<%= partial(:appstore_jp) %>

</div>
