---
title: About Heart Rate Touch
---

<div class="row">
  <div class="small-8 columns">

<h1>About</h1>

<p>
Keeping tabs on your pulse is an important tool for tracking your overall fitness. Heart Rate Touch measures your pulse simply and accurately while respecting your privacy. No logins, in-app purchases or other up-sell gimmicks.  An easy to use app, sold at a fair price. Written entirely in Swift, an innovative new programming language from Apple, it features leading edge technology:
</p>

<p>
<ul>

<li><b>Quick and simple to use:</b> Cover the both the flash and the camera with your finger. Apply a steady, light pressure and remain still. A great way to do this is by resting the phone on your finger and let the weight of the phone do the work. </li>

<li><b>Advanced algorithm produces highly accurate result:</b> Heart Rate Touch is an optical heart rate monitors that use light to track your blood. By illuminating your capillaries in your finger-tip with an light source (Flash), a sensor (Camera) adjacent to the light measures the frequency (Heart Rate) at which your blood pumps, from the “redness” of the images it captures. Results have a theoretical accuracy to well within 1 beat per minute.</li>

<li><b>Privacy and Sharing:</b> The app does not collect any user information that is communicated back to a server. The measurements remain private on your device. Results are available to be exported in text format and also to Apple's Health app at your discretion.</li>
</ul>
</p>

</div>

<%= partial(:appstore) %>

</div>
