---
title: Heart Rate Touch
---

<br/>
<div class="row">
  <div class="medium-8 columns">
    <h1>Heart Rate Touch Privacy</h1>
    
    <p>Heart Rate Touch does not automatically transmit any user information 
    or health information to Pelfunc, Inc or any 3rd party.  Users have 
    complete control of if and how information is shared.  Heart 
    Rate Touch does not use analytics to track user behavior or app usage patterns.
    </p>

    <p>In the event of an application crash, Apple, Inc. may collect non-identifiable
      diagnostics about the nature of the crash for users that have opted-in.
      Apple, Inc. may provide this diagnostic information to Pelfunc, Inc. in addition to 
      anonymous, non-identifiable information about app sales.
    </p>

  </div>
  <%= partial(:appstore) %>
</div>

