---
title: Support Contact
---
<div class="row">
  <div class="large-12 columns">
    <a href="/"><p class="mast-blue"><%= image_tag "pelfunc_blue_550.png", alt: "Pelfunc, Inc. Logo", width: 550, height: 110 %></a>
  </div>
</div>

<div class="row">
  <div class="large-6 medium-6 columns">
    <h4>Email</h4>
    <pre class="big">
<a href="mailto:hrt@pelfunc.com">hrt@pelfunc.com</a>
    </pre>
  </div>

  <div class="large-6 medium-6 columns">
    <h4>Mailing Address</h4>
    <pre class="contact">
  Pelfunc, Inc.
  3525 Del Mar Heights Rd #764
  San Diego, CA 92130
  USA
    </pre>
  </div>

</div>