---
title: タッチ de 心拍数のプライバシーについて
layout: hrt_jp
---

<br/>
<div class="row">
  <div class="medium-8 columns">
    <h1>プライバシーについて</h1>
    
    <p>お客様の測定データは、どのサーバーにも転送されません。そのため、Pelfunc社は個人情報をいっさい
      収集管理しておりません。</p>

    <p>万が一、お客様のアプリケーションがクラッシュした場合、アップル社は、オプトインしたユーザーの匿名クラッシュの診断情報を収集し、そのアプリの匿名営業情報とともにPelfunc社に提供することがあります。</p>

  </div>
  <%= partial(:appstore_jp) %>
</div>