---
title: Heart Rate Touch
layout: hrt
---

<br/>
<div class="row">
  <div class="medium-8 columns">
    <h1>Heart Rate Touch</h1>
    <div>
    Your heart rate--accurate and easy to use.  No ads or upsells.  
    </div>
  </div>

  <div class="medium-4 columns">
    <h4>Coming Soon</h4>
    <img src="/images/DownloadOnAppStore.png" alt="Download on App Store" width="160px">
  </div>
</div>

<br/>
<img src="/images/HeartRateTouch2048.png" alt="Picture of iPhones running Heart Rate Touch" />
