---
title: Heart Rate Touch
layout: layout_jp
---

<br/>
<div class="row">
  <div class="medium-8 columns">
    <h1>タッチ de 心拍数</h1>
    <div>
    あなたの心拍数。簡単に、正確に。 
    </div>
  </div>

  <div class="medium-3 columns">
    <div class="row">
      <div class="small-6 columns">
        <a href="https://itunes.apple.com/jp/app/heart-rate-touch/id945121083">
          <img src="/images/Icon.png" alt="Heart Rate Touch Icon" width="140px"><p/><p/>
          <img src="/images/DownloadOnAppStore.png" width="160px"></a>
      </div>
      <div class="small-6 columns">
        <a href="https://itunes.apple.com/jp/app/heart-rate-touch-lite/id992008381">
          <img src="/images/IconLite.png" alt="Heart Rate Touch Lite Icon" width="140px"><p/><p/>
          <img src="/images/DownloadOnAppStore.png" width="160px"></a>
      </div>
    </div>
  </div>

  <div class="medium-1 columns"></div>

</div>

<br/>
<img src="/images/HeartRateTouch2048_jp.png" alt="タッチ de 心拍数の写真" />
